<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}+'님의 활동 기록'"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            padding: 20px;
        }

        h2 {
            margin-top: 20px;
        }

        .table-container {
            margin-top: 20px;
        }


        tr {
            text-align: center;
        }
    </style>
    <script th:inline="javascript">
        var selectUser = /*[[${selectUser}]]*/ null;
        function page(page) {
            location.href = "/admin/userCommentRecord/" + page + "?selectUser=" + selectUser;
        }
    </script>
</head>

<body>
<div style="text-align: center;">
    <h2 th:text="${name}+'님 활동기록'" style="font-family: Arial, sans-serif; font-size: 24px; color: #333; margin-top: 20px;"></h2>
</div>
<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <a th:href="@{/admin/userRecord/0(selectUser=${selectUser}, page=0)}" class="activity-link">게시물 조회</a>
            </th>
            <th>
                <a th:href="@{/admin/userCommentRecord/0(selectUser=${selectUser}, page=0)}" class="activity-link">댓글 조회</a>
            </th>
            <th>
                <a th:href="@{/admin/userCommentsCommentRecord/0(selectUser=${selectUser}, page=0)}" class="activity-link">대댓글 조회</a>
            </th>
        </tr>
        </thead>
    </table>
</div>

  <div class="table-container">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>댓글 순서</th>
              <div>
                  <th colspan="3">댓글 내용</th>
              </div>
              <th>댓글 추천수</th>
              <th>댓글 비추천수</th>
              <th>댓글 신고수</th>
              <th>댓글 작성일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${comments.isEmpty()}">
              <td colspan="8">댓글이 존재하지 않습니다.</td>
          </tr>
          <tr th:each="comment : ${comments.getContent()}">
              <td th:text="${commentStat.count}"></td>
              <td colspan="3" th:text="${comment.commentContent}"></td>
              <td th:text="${comment.likeCnt}"></td>
              <td th:text="${comment.hateCnt}"></td>
              <td th:text="${comment.reoortCnt}"></td>
              <td th:text="${#temporals.format(comment.regTime, 'MM월 dd일 HH:mm:ss')}"></td>
          </tr>
          </tbody>
      </table>
  </div>
<div class="row" >
    <div class="col-12 text-center">
        <div th:with="start=${(comments.number/maxPage)*maxPage + 1}, end=(${(comments.totalPages == 0) ? 1 : (start + (maxPage - 1) < comments.totalPages ? start + (maxPage - 1) : comments.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${comments.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${comments.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${comments.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${comments.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${comments.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>