
  <div class="row">
    <div class="col-md-12 text-center side_menu">
      <a th:href="@{/user/mypage}">마이페이지</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center side_menu">
      <a th:href="@{/user/grapInformation}">일일 기록</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center side_menu">
      <a th:href="@{/user/boardRecord/all}">게시물 작성기록</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center side_menu">
      <a th:href="@{/user/commentRecord/all}">댓글 작성기록</a>
    </div>
  </div>


